@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none; /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse; /*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/*site-nav部分start*/
.site-nav {
    line-height: 30px;
    height: 30px;
    background-color: #f1f1f1;
}

.register {
    margin-left: 5px;
    color: red;
}

.site-nav-send, .site-nav-r .fore {
    position: relative;
    padding: 0 25px 0 10px;
}

.site-nav-send:hover {
    background-color: white;
}

.site-nav-send i, .fore i {
    position: absolute;
    top: 13px;
    right: 6px;
    width: 15px;
    height: 7px;
    overflow: hidden;
}

/*.site-nav-send i:hover, .fore i:hover {*/
/*top: 10px;*/
/*}*/
.site-nav-send s, .fore s {
    font: 400 13px/15px "consolas";
    position: absolute;
    top: -9px;
}

/*.site-nav-send s:hover, .fore s:hover {*/
/*top: -1px;*/
/*}*/

.site-nav-r li {
    padding: 0 10px;
    float: left;
}

.site-nav-r .line {
    width: 1px;
    height: 12px;
    background-color: #DDD;
    margin-top: 9px;
    padding: 0;
}

.site-nav-r .jd-tel {
    padding-left: 25px;
}

.jd-tel span {
    position: absolute;
    width: 15px;
    height: 20px;
    top: 5px;
    left: 6px;
    background: url("../../img/jingdong/tel.png") no-repeat;
}

/*site-nav部分end*/

/*topbanner部分start*/
.topbanner {
    background-color: #FD6500;
}

.tb {
    position: relative;
}

.close-banner {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 19px;
    height: 19px;
    background: url("../../img/jingdong/close-banner.png") no-repeat;
}

.close-banner:hover {
    background-position: bottom;
}

/*topbanner部分end*/
/*search-logo部分start*/
.search-logo {
    width: 362px;
    height: 60px;
    float: left;
    padding: 20px 0;
}
.search-logo a{
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -9999em;
    background: url("../../img/jingdong/logo.png") no-repeat;
}
.search-input {
    width: 538px;
    height: 36px;
    float: left;
    padding-top: 25px;

}
.search-input input {
    float: left;
    width: 450px;
    height: 32px;
    padding-left: 4px;
    border: 2px solid #B61D1D;
    font: 400 14px/32px "microsoft yahei";
    color: rgb(153,153,153);
    border-right: 0;
}
.search-input button {
    cursor: pointer;
    width : 82px;
    height: 36px;
    background-color: #B61D1D;
    color: #fff;
    font:400 16px/36px "微软雅黑";
}
.search-car {
     width: 96px;
     height: 34px;
     float: right;
     padding-left: 43px;
     margin: 25px 65px 0 0;
     line-height: 34px;
     position: relative;
     border: 1px solid #DFDFDF;
     background-color: #F9F9F9;
 }
.icon1{
    position: absolute;
    top: 9px;
    left: 18px;
    width: 18px;
    height: 18px;
    background: url("../../img/jingdong/tel.png") no-repeat 0 -58px;

}
.icon2{
    position: absolute;
    right: 10px;
    color: #999;
    font: 13px/34px "SimSun"
}
.icon3{
    position: absolute;
    top: -5px;
    /*left: 0px;*/
    width: 16px;
    height: 14px;
    background-color: #c81623;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}
.search-moreAlink {
    line-height: 28px;
    width: 538px;
    height: 28px;
    float: left;
    background-color: yellow;
}

.search-moreAlink a {
    margin-right: 8px;
}


/*search-logo部分end*/