/*main部分start*/
.main-slider {
    float: left;
    width: 730px;
    height: 454px;
    margin: 12px 0 0 220px;
}
.main-news {
    float: right;
}
.main-news-top {
    height: 372px;
    width: 248px;
    margin: 12px 0 5px 0;
    border: 1px solid #E4E4E4;
}
/*main部分end*/
/*main部分start*/
/*main部分end*/
/*main部分start*/
/*main部分end*/